/* цвета тем */
// crimson
$crimson100: #e93d82;
$crimson200: #d31e66;

// blue
$blue100: #0091ff;
$blue200: #006adc;

// orange
$orange100: #ed5f00;
$orange200: #973311;

/* общие цвета */
$day0: #ffffff;
$day200: #f4f4f8;
$day300: #e8e8ef;
$day400: #d6d6df;
$day500: #aeaebc;
$day600: #87879b;
$day700: #53546e;
$day800: #292940;
$day900: #101025;

$night0: #252528;
$night200: #0d0d10;
$night300: #333336;
$night400: #464649;
$night500: #68686a;
$night600: #919191;
$night700: #d5d5d5;
$night800: #ebebeb;
$night900: #ffffff;

$common-shadow-day: 0 4px 8px 2px $day200;
$common-shadow-night: none;
