@use "../../../styles/functions" as f;

.theme-section--background {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .background--neutral {
    background-color: var(--neutral200);
    border: 2px solid var(--neutral300);
  }

  .background--color {
    background-color: f.appAlpha(var(--theme-color100), 0.08);
    border: 2px solid f.appAlpha(var(--theme-color100), 0.08);
  }

  .background {
    width: 40px;
    height: 40px;

    border-radius: 4px;
    cursor: pointer;

    &--selected {
      border: 2px solid var(--theme-color100);
    }
  }
}
